<div id="buyPhoneCardForm" class="container">

  <form action="/buyPhoneCard" id="userFunctionForm" method="POST">
    <h2>Buy phone card</h2>
    <div class="form-content">
      <div class="user__form__icon">
        <img src="/images/userFormIcon/buy.png" />
      </div>

      <h5>Nhà mạng</h5>
      <hr />
      <div class="network">
        <div class="form-group">
          <label class="" for="viettel">Viettel</label>
          <input type="checkbox" id="viettel" value="viettel" name="network" />
        </div>
        <div class="form-group">
          <label for="mobifone">Mobifone</label>
          <input
            type="checkbox"
            id="mobifone"
            value="mobifone"
            name="network"
          />
        </div>
        <div class="form-group">
          <label for="vinaphone">Vinaphone</label>
          <input
            type="checkbox"
            id="vinaphone"
            value="vinaphone"
            name="network"
          />
        </div>
      </div>

      <h5>Mệnh giá</h5>
      <hr />
      <div class="denominations">
        <div class="form-group">
          <label for="10000">10000</label>
          <input type="checkbox" id="10000" value="10000" name="network" />
        </div>
        <div class="form-group">
          <label for="20000">20000</label>
          <input type="checkbox" id="20000" value="20000" name="network" />
        </div>
        <div class="form-group">
          <label for="50000">50000</label>
          <input type="checkbox" id="50000" value="50000" name="network" />
        </div>
        <div class="form-group">
          <label for="100000">100000</label>
          <input type="checkbox" id="100000" value="100000" name="network" />
        </div>
      </div>

      <div class="option">
        <a href="/" class="btn btn-secondary">Back</a>
        <button type="submit" class="btn btn-primary">Buy</button>
      </div>

    </div>

  </form>

</div>