<div class="cont" id="changePassword">
  {{! <div class="changePassword-container" > }}
  <p class="title">Quên mật khẩu</p>
  <p>Vui lòng nhập email của bạn để tiến hành khôi phục mật khẩu</p>
  <form action="/users/forgotpassword" method="POST" class="change-password-form">
    <div class="row mb-3">
      <label for="recoverEmail" class="form-label">Enter your email here</label>
      <div>
        <input
          type="email"
          class="form-control"
          name="recoverEmail"
          id="recoverEmail"
        />
      </div>
    </div>
    {{#if error}}
    <div style="text-align: center;color: red;font-weight: 700;">
        {{error}}
    </div>
    {{/if}}
    <div style="width: 100%; text-align:center">
      <button type="submit" class="btn btn-primary">Change</button>
    </div>
  </form>
  {{! </div> }}
</div>